* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #cc8c2d;
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
}

 /*********** spinning loader ***********/
.loader {
  border: 10px solid #2a2e37;
  border-top: 10px solid #D6E583; 
  border-right: 10px solid #D6E583;
  border-bottom: 10px solid #D6E583;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
 /********** mobile first ***********/

 /*********** container for preview cards ***********/
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  text-align: center;
}